// *****************************
//
//	 _background.scss
//
// *****************************

@mixin background($img: file, $type: png, $repeat: no-repeat, $x: 0, $y: 0) {
    background-image: url(img/#{$img}.#{$type});
    background-repeat: #{$repeat};
    background-position: #{$x} #{$y};
}
