// *****************************
//
//	 _clearfix.scss
//
// *****************************

@mixin clearfix {
    @if $support-ie6 or $support-ie7 {
        *zoom: 1;
    }
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}
