@charset "UTF-8";

// *****************************
//
//	 _font-family.scss
//
// *****************************

// # Japanese

$ff-meiryo: Meiryo, MS PGothic, sans-serif !default;
$ff-mspgothic: MS PGothic, sans-serif !default;
$ff-hiragino: Hiragino Kaku Gothic Pro, Meiryo, MS PGothic, sans-serif !default;
$ff-monospace: monospace, serif !default;
$ff-monospace-ie6: 'MS Gothic', monospace !default;

$ff-YuGothic: '游ゴシック', 'YuGothic', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Arial MT',
    'Meiryo', 'Osaka', 'ＭＳ Ｐゴシック', 'MS Gothic', sans-serif !default;
$ff-YuMincho: 'YuMincho', '游明朝', 'ヒラギノ明朝 ProN W6', 'HiraMinProN-W6', 'HG明朝E', 'ＭＳ Ｐ明朝', 'MS PMincho',
    'ＭＳ 明朝', serif !default;
