@import "shared";


.site-contact {
    width: 100%;
    text-align: center;
    
    &__header {
        @include gradient-background;
    }

    &__heading {
        @include custom-font(null, bold, null, white, Hiragino Kaku Gothic Std);
    }

}
.inquiry{
    @include display-flex(column,null,null,null);

}
@media screen and (min-width: 750px) {
    .site-contact {

        &__header {
            height: 280px;
        }

        &__heading {
            font-size: 40px;
        }
    }
}

@media screen and (max-width: 749px){
    .site-product {

        &__header {
            height: 26.6vw;
        }

        &__heading {
            font-size: 7.5vw;
        }
    }

}