@mixin entry {
    .entry__form-wrapper {
        @include display-flex(null, center, null);
    }
    
    .entry {
    
        &__form {
            width: 100%;
            max-width: 980px;
            @include display-flex(column, null, null);
        }
    
        &__label {
            font-family: $ff-YuGothic;
            font-weight: 700;
            &-birthdate {
                margin-top: 0;
            } 
        }
    
        &__require {
            color: $quaternary-color;
            font-family: $ff-YuGothic;
            font-weight: 700;
            vertical-align: -1px;
            &:before {
                content: "\00203B";
                font-family: $ff-YuGothic;
                font-weight: 700;
            }
        }
    
        &__textfield {
            &--block {
                width: 100%;
            }
            &:active,
            &:focus {
                outline: none;
            }
        }
    
        &__birthdate,
        &__phonenumber,
        &__postal-code {
            @include display-flex(row, null, null);
        }
    
        &__phonenumber,
        &__postal-code {
            &-wrapper { 
                position: relative;
                &:not(:first-child) {
                    &:before {
                        content: '';
                        border-top: 1px solid black;
                        position: absolute;
                        font-weight: 100;
                    }
                }
            }
        }

        &__lead-title {
            font-family: $ff-YuMincho;
        }
    }
    
    @media screen and (min-width: 769px) {
        .entry > .banner {
            background-image: url('img/entry_kv.png');
        }
        .entry {
    
            &__form {
                padding: 69px 85px 79px 85px;
            }
    
            &__label {
                line-height: 38px;
                font-size: 14px;
                letter-spacing: 3px;  
                margin-top: 20px; 
                &-birthdate {
                    width: 171px;
                } 
            }
    
            &__require {
                &:before {
                    font-size: 15px;
                }
            }
    
            &__textfield,
            &__textarea {
                margin-top: 8px;
                border-radius: 7px;
                margin-bottom: 20px;
                border: 1px solid $primary-border-color;
            }
    
            &__textfield {
                height: 50px;
                padding: 0 21px;
                &--inline-with-label {
                    width: 76%;
                    margin-right: 11px;
                }
                &--inline-without-label {
                    width: 77%;
                    margin-right: 11px;
                }
            }
    
            &__sex {
                margin-top: 28px;
                margin-bottom: 18px;
            }
    
            &__radio {
                margin-right: 9px;
                &-label {
                    margin-right: 35px;
                }
            }
    
            &__phonenumber,
            &__postal-code {
                &-wrapper { 
                    width: 170px;
                    &:not(:first-child) {
                        &:before {
                            top: 34px;
                            left: -25px;
                            height: 10px;
                            width: 12px;
                        }
                    }
                }
            }
        
            &__textarea {
                height: 102px;
                padding: 21px;
            }
        }
    
        #postal-code-label,
        #address-label,
        #email-confirm-label {
            margin-top: 8px;
            line-height: 19px;
        }
    
        #postal-three-digits,
        #postal-four-digits,
        #email {
            margin-bottom: 9px;
        }
    }
    
    @media screen and (max-width: 768px) {
        .entry > .banner {
            background-image: url('img/entry_kv-sp.png');
        }
        .entry {
    
            &__form {
                padding: 17vw 5.5vw 16vw 5.5vw;
            }
        
            &__label {
                font-size: 3.5vw;
                line-height: 5vw;
                letter-spacing: .3vw;
                margin-top: 2.3vw;
            
                &-birthdate {
                    width: 26vw;
                    font-size: 3.5vw;
                    margin-right: 0;
                    &:last-child {
                        margin-right: 0;
                    }
                } 
            }
        
            &__require {
                &:before {
                    font-size: 3.5vw;
                }
            }
        
            &__textfield,
            &__textarea {
                margin-bottom: 3.6vw;
                margin-top: 1.5vw;
                font-size: 2.6vw;
                letter-spacing: .8vw;
                border-radius: .7vw;
                border: .1vw solid $primary-border-color;
            }
        
            &__textfield {
                height: 13.5vw;
                padding: 0 3vw;
                &--inline-with-label {
                    width: 18vw;
                    margin-right: 2vw;
                }
                &--inline-without-label {
                    width: 24vw;
                    margin-right: 1vw;
                }
            }
        
            &__sex {
                margin-top: 5.5vw;
                margin-bottom: 3.5vw;
            }
        
            &__radio {
                margin-right: 2vw;
                width: 3.5vw;
                height: 3.5vw;
                &-label {
                    margin-right: 11vw;
                    font-size: 3.5vw;
                }
            }
        
            &__phonenumber,
            &__postal-code {
                &-wrapper { 
                    width: 30vw;
                    margin-right: 4.5vw;
                    &:not(:first-child) {
                        &:before {
                            top: 8.1vw;
                            left: -4vw;
                            height: 1vw;
                            width: 2.5vw;
                        }
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
    
            &__postal-code {
                &-wrapper {
                    width: 27vw;
                }
            }
        
            &__textarea {
                height: 33vw;
                padding: 3vw;
            }
        }
        
        #postal-code-label,
        #address-label,
        #email-confirm-label {    
            margin-top: 0;
            line-height: 5vw;
        }
    
        #postal-three-digits,
        #postal-four-digits,
        #email {
            margin-bottom: 1vw;
        }
    
        #birth-year {
            width: 26vw;
            &-label {
                width: 34vw;
            }
        }
    
        #phonenumber-first-digits {
            width: 25.5vw;;
            &-wrapper {
                width: 31.5vw;
            }
        }
    }
}