@import "shared";
@import "utility/import";

// additional variable
$content-margin: 90px;
$text-size: 15px;
$text-color: #333333;

* {
   
    font-weight: normal;
    
}
.site-content {
    width: 100%;
    text-align: center;
    font-family: $hiragino;
    &__header {
        @include gradient-background;
    }

    &__heading {
        @include custom-font2(null, bold, null, white);
    }
}
// common content heading
.site-factory {
    display: flex;
    flex-direction: column;
    font-family: $hiragino;
    &__title {
        color: $primary-blue-light;
    }
}

.operation__wrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    color: $secondary-dark-gray;
}

.operation__text-wrapper {
    z-index: 10;
    background: white;
    opacity: 0.9;
    box-shadow: 6px 5px 10px rgba(112,112,112, 0.3);
}

.banner__caption {
    color: white;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.building-site__list {
    color: $secondary-dark-gray;
}
@media screen and (min-width: 750px) {
    // common content heading
    .site-content {
        text-align: center;
        
        &__header {
            height: 280px;
        }

        &__heading {
            font-size: 40px;
        }
    }

    // factory 
    .site-factory {
        font-family: $hiragino;
        &__title {
            font-family: $hiragino;
            margin-top: $content-margin;
            margin-bottom: 30px;
            font-weight: 600;
            font-size: 30px;
        }

        &__text {
            font-family: $hiragino;
            font-size: $text-size;
            line-height: 27px;
        }
    }

    .operation__wrapper {
        width: 1150px;
    }

    .operation__list {
        margin: auto;
    }

    .operation__item {
        margin-top: $content-margin;

        section {
            display: flex;
        }
    }
    .operation__item:nth-child(2n+0) .operation__thumb {
        order: 2;
    }

    .operation__item:nth-child(even) div {
        right: -33px;
        box-shadow: -3px 5px 10px rgba(112,112,112, 0.3);
    }
    .operation__item:nth-child(odd) div {
         left: -33px;
    }

    .operation__text-wrapper {
        margin: auto -32px;
        width: 558px;
        height: 182px;
        position: relative;
    }

    .operation__title {
        font-size: 20px;
        text-align: justify;
        margin: 30px;
    }

    .operation__text {
        font-size: $text-size;
        text-align: justify;
        margin: 0 50px 0 30px;
        line-height: 27px;
    }

    .building-site__list {
        display: flex;
        margin: 100px auto;
    }

    .building-site__item:nth-child(1) {
        margin-left: 0;
    }

    .building-site__item {
        margin: 0 0 0 31px;

        section {
            text-align: justify;
        }
    }

    .building-site__title {
        font-size: 20px;
        margin: 30px 0 15px 0;
    }

    .building-site__text {
        font-size: $text-size;
        line-height: 24px;
    }

    .banner__list {
        display: flex;
        margin: auto auto 100px auto;
        width: 936px;
    }

    .banner__item:nth-child(2) {
        margin-left: 30px;
    }

    .banner__item {
        position: relative;
    }

    .banner__caption {
        font-size: 30px;
    }
    
}

@media screen and (max-width: 749px) {
    // common content heading
    .site-content {
        text-align: left;
        &__header {
            height: 26.6vw;
        }

        &__heading {
            font-size: 7.5vw;
        }
    }

    // factory 
    .site-factory {

        &__wrapper {
            margin: auto;
            width: 85%;
        }

        &__title {
            margin-top: 15%;
            margin-bottom: 3%;
            font-size: 5.1vw;
            text-align: center;
            line-height: 1.4;
        }

        &__text {
            font-size: 3.7vw;
            font-weight: normal;
            text-align: left;
            line-height: 1.3;
            width: 88%;
            margin: auto;
        }
    }

    .operation__wrapper {
        width: 94.5%;
        margin: auto;
    }

    .operation__list {
        margin: auto;
    }

    .operation__item {
        margin: 10% auto 35% auto;

        section {
            position: relative;
        }
    }

    .operation__thumb {
        width: 92vw;

        img {
            width: 100%;
        }
    }

    .operation__text-wrapper {
        width: 91.3%;
        height: 30vw;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 85%);
    }

    .operation__title {
        font-size: 4.4vw;
        text-align: justify;
        margin: 5%;
        color: $primary-blue-dark;
    }

    .operation__text {
        font-size: 2.9vw;
        line-height: 1.5;
        text-align: justify;
        margin: 0 7% 0 5%;
    }

    .building-site__list {
        margin: auto;
    }

    .building-site__item {
        margin: 5% 0;

        section {
            text-align: justify;
        }
    }

    .building-site__thumb {
        width: 92vw;

        img {
            width: 100%;
        }
    }

    .building-site__title {
        font-size: 4vw;
        margin: 5% 0 3% 0;
    }

    .building-site__text {
        font-size: 2.4vw;
        margin-bottom: 1%;
        line-height: 24px;
    }

    .banner__list {
        margin: auto;
    }

    .banner__item {
        margin: 5% 0;
        position: relative;
    }

    .banner__thumb {
        width: 92vw;

        img {
            width: 100%;
        }
    }

    .banner__caption {
        font-size: 4vw;
    }
}




