

@mixin display-flex ($direction, $wrap, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
}
@mixin header {
    .site-main{
        position: relative;
        top:100px;
    }
    .site-header{
        background-color: rgba(255, 255, 255, 0.8);
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 999;
        &__wrapper{
            width: 1340px;
            @include display-flex(row,NULL,space-between,NULL);
        }
        &__logo{
            font-family: Hiragino Kaku Gothic Std;
            font-size: 30px;
            font-weight: bold;
            
            & a{
              color:$primary-blue-light;
            }
            & span{
                font-size: 15px;
                color:$secondary-dark-gray;
                font-weight: normal;
                margin-left: 5px;
                vertical-align: 5px;
            }
        }
    }
    
    @media only screen and (min-width: 750px) {
       .site-header{
           &__wrapper{
            height: 100px;
            align-items: center;
            margin: auto;
           }
           
            &__nav{
                
                &-list{
                    @include display-flex(row,NULL,center,center);
                }
                &-item{
                    margin-right: 20px;
                    & a{
                        font-family:Hiragino Kaku Gothic Std;
                        font-size: 15px;
                        color:$primary-blue-light;
                    }
                    &:nth-child(5){
                        @include display-flex(row,NULL,center,center);
                        width: 166px;
                        height: 40px;
                        margin-right: 0;
                        background-color:$primary-blue-dark;
                        & a{
                            color: white;
                        }
                    }
                }
                &-btn{
                    display:none;
                }
            }
       }

    }

    @media only screen and (max-width: 749px) {
          //   .site-header{
              
          //       &__navigation {
          //         margin: 6.2vw 5vw;

          //         &-list  {
          //             height: auto;
          //             position: absolute;
          //             left: 0;
          //             top: 18.5vw;
          //             width: 100%;
          //             background-color: white;
                      
          //             display: flex;
          //             flex-direction: column;
          //             display: none;
          //         }
              
          //         &-item {
          //             margin: 0;
          //             border-bottom: 2px solid #f5f5ed;
          //             &:first-child {
          //                 border-top: 2px solid #f5f5ed;
          //             }
          //             &:hover {
          //                 border-bottom: 2px solid #c40909;
          //             }
          //         }
              
          //         &-link {
          //             width: 100%;
          //             padding: 6vw 0;
          //             font-size: 3.6vw;
          //             text-align: center;
          //             border-bottom: none;
          //             &:hover {
          //                 border-bottom:  none;
          //             }
          //         }
          //     }

          //     &__hamburger-btn {
          //         position: relative;
          //         display: block;
          //         width: 7vw;
          //         height: 5.5vw;
          //         padding: 0;
          //         border: none;
          //         background-color: transparent;
          //         display: flex;
          //         flex-direction: column;
          //         justify-content: space-between;
          //         &:active,
          //         &:focus {
          //             outline: none;
          //         }
          //     }

          //     &__hamburger-line {
          //         width: 7vw;
          //         height: .3vw;
          //         background-color: #f5f5ed;

          //         &--collapsed {
          //             position: absolute;
          //             top: 50%;
          //             &:first-child {
          //                 transform: rotate(45deg);
          //             }
          //             &:nth-child(2) {
          //                 display: none;
          //             }
          //             &:last-child {
          //                 transform: rotate(-45deg);
          //             }
          //         }
          //     }
          // }
        

        .site-main{
            top:13.351vw;
        }

        #nav-toggle {
            position: fixed;
            top: 3.338vw;
            right: 3.338vw;
            height: 4.272vw;
            cursor: pointer;
            
          > div {
            position: relative;
            width: 4.806vw;
          }
          span {
            width: 100%;
            height: 0.668vw;
            left: 0;
            display: block;
            background: $primary-blue-light;
            position: absolute;
            transition: transform .6s ease-in-out, top .5s ease;
            
            &:nth-child(1) {
              top: 1.602vw;
            }
            &:nth-child(2) {
              top: 3.471vw;
            }
            &:nth-child(3) {
              top: 5.340vw;
            }
          }
        
          &:hover span:nth-child(1) {
            top: 2.136vw;
          }
          &:hover span:nth-child(3) {
            top: 4.673vw;
          }
        
        }
        
        .open {
          #nav-toggle span {
            background: $primary-blue-light;;
            
            &:nth-child(1) {
              top: 2.003vw;
              transform: rotate(45deg);
            }
            &:nth-child(2) {
              top: 2.003vw;
              width: 0;
              left: 50%;
            }
            &:nth-child(3) {
              top: 2.003vw;
              transform: rotate(-45deg);
            }
          }
        }
        
        #nav-toggle {
            z-index: 1000;
        }
        #container {
            z-index: 900;
        }
        
        #gloval-nav {
            background: #fff;
            height: 97.330vw;
            position: fixed;
            top: 13.351vw;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 990;
            display: flex;
            visibility: hidden;
            opacity: 0;
            transition: opacity .6s ease, visibility .6s ease;
        }
        
        
        #gloval-nav {
          a {
            text-decoration: none;
            padding: 1.335vw 0;
            transition: color .6s ease;
          }
          
          ul {
            list-style: none;
            
            li {
              opacity: 0;
              transform: translateX(26.702vw);
              transition:  transform .6s ease, opacity .2s ease;
        
              &:nth-child(1) {
                transition-delay: .15s;
                border-top: solid #F5F5F5 1px;
                border-bottom: solid #F5F5F5 1px;
              }
              &:nth-child(2) {
                transition-delay: .3s;
                border-bottom: solid #F5F5F5 1px;
              }
              &:nth-child(3) {
                transition-delay: .45s;
                border-bottom: solid #F5F5F5 1px;
              }
              &:nth-child(4) {
                transition-delay: .6s;
                border-bottom: solid #F5F5F5 1px;
              }
              &:nth-child(5) {
                transition-delay: .75s;
              }
            }
          }
        } 
        
        .open {
            overflow: hidden;
          
          #gloval-nav {
            visibility: visible;
            opacity: 1;
          }
        
          #gloval-nav li {
            opacity: 1;
            transform: translateX(0);
            transition:  transform 1s ease, opacity .9s ease;
          }
        }
        .site-header{
            height: 13.351vw;
            align-items: center;
            margin: auto;
            &__sub-nav{
              width: 100%;
            }
            &__logo{
              font-size:4.005vw;
              & span{
                font-size: 2.003vw;
                font-weight: normal;
                margin-left: 0.668vw;
                vertical-align: 0.668vw;
              }
            }
            &__wrapper{
                height: 13.351vw;
                width: 100%;
                align-items: center;
                margin-left: 4.005vw;
               }
             &__nav{
                 
                 &-list{
                     @include display-flex(column,NULL,null,null);
                 }
                 &-item{
                      display: flex;
                      align-items: center;
                      height: 16.021vw;
                     & a{
                         font-family:Hiragino Kaku Gothic Std;
                         font-size: 4.005vw;
                         color:$primary-blue-light;
                         margin-left: 8.011vw;
                     }
                     &:nth-child(5){
                         @include display-flex(row,NULL,center,center);
                         height: 32.043vw;
                         & a{
                            background-color:$primary-blue-dark;
                            color: white;
                            width: 84.112vw;
                            height: 16.021vw;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-left: 0px;
                         }
                     }
                 }
                 &-btn{
                     display:none;
                 }
             }
        }
        
    }
}

    
