@import "shared";
@import "utility/import";

.site-outline {
    width: 100%;

    &__header {
        height: 280px;
        @include display-flex(row, null, center, center);
        @include gradient-background;
    }

    &__heading {
        @include custom-font(40px, bold, null, white, $hiragino);
    }

    &__top-wrapper {
        width: 950px;
        margin: auto;
        margin: 87px auto 0 auto;
    }

    &__intro {
        line-height: 2;
        text-align: justify;
        @include custom-font(15px, bold, null, $secondary-dark-gray, $hiragino);
    }

    &__hidden {
        display: none;
    }


    &__inner-wrapper {
        width: 950px;
        margin: 90px auto;
    }

    &__lead-title {
        text-align: center;
        margin-bottom: 38px;
        @include custom-font(30px, bold, null, $primary-blue-dark, $hiragino);
    }

    &__list {
        width: 950px;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__term {
        float: left;
        flex: 0 24%;
        line-height: 3;
        padding: 10px 0 16px 28px;
        border-top: 1px solid #999999;
        @include custom-font(16px, bold, null, $secondary-dark-gray, $hiragino);

        &:nth-child(3) {
            padding-top: 7px;
        }

        &:nth-child(5) {
            padding-top: 7px;
        }

        &:nth-child(11) {
            padding-top: 6px;
        }

        &:nth-child(17) {
            padding: 8px 0 40px 28px;
            border-bottom: 1px solid $border-dark;
        }

        & span {
            margin: 18px 0;
            @include custom-font(13px, bold, null, $secondary-dark-gray, $hiragino);
        }
    }

    &__name {
        line-height: 3;
        flex: 0 64%;
        padding: 10px 0 16px 28px;
        border-top: 1px solid #CCCCCC;
        @include custom-font(16px, bold, null, $secondary-dark-gray, $hiragino);


        &:nth-child(4) {
            line-height: 2;
            padding-top: 15px;
        }

        &:nth-child(6) {
            line-height: 2;
            padding: 20px 0 20px 28px;
        }

        &:nth-child(12) {
            padding-top: 6px;
        }

        &:nth-child(18) {
            line-height: 1.9;
            padding-top: 19px;
            border-bottom: 1px solid $border-light;
        }

        & a {
            @include custom-font(15px, bold, null, $primary-blue-light, $hiragino); 
        }
    }


    &__bottom-wrapper {
        width: 784px;
        margin: 119px auto;
    }

    &__image-wrapper {
        display: flex;
        margin: 38px 0;
    }

    &__image {
        margin: 3px 15px;
        width: 362px;
    }

    &__excerpt-wrapper {
        margin: -8px 16px;
        width: 362px;
    }

    &__excerpt-heading {
        line-height: 2.5;
        @include custom-font(20px, bold, null, $secondary-dark-gray, $hiragino);
    }

    &__excerpt {
        @include custom-font(14px, bold, null, $secondary-dark-gray, $hiragino);
    }
}


@media screen and (min-width: 750px) {
    .site-outline {
        max-width: 100%;

        &__header {
            height: 280px;
        }

        &__heading {
            font-size: 40px;
        }

        &__top-wrapper {
            width: 950px;
        }

        &__intro {
            @include custom-font(15px, bold, null, $secondary-dark-gray, $hiragino);
        }

        &__inner-wrapper {
            width: 950px;
        }

        &__list {
            width: 950px;
        }

        &__term {
            padding: 10px 0 16px 28px;
            @include custom-font(16px, bold, null, $secondary-dark-gray, $hiragino);


            &:nth-child(17) {
                padding: 8px 0 40px 28px;
            }

            & span {
                vertical-align: 0px;
                margin: 18px 0;
                @include custom-font(13px, bold, null, $secondary-dark-gray, $hiragino);
            }
        }

        &__name {
            padding: 10px 0 16px 28px;
            @include custom-font(16px, bold, null, $secondary-dark-gray, $hiragino);

            &:nth-child(4) {
                padding-top: 15px;
            }

            &:nth-child(6) {
                padding: 20px 0 20px 28px;
            }

            &:nth-child(14) {
                letter-spacing: normal;
            }

            &:nth-child(18) {
                padding-top: 19px;
            }

            & a {
                @include custom-font(16px, bold, null, $primary-blue-light, $hiragino);
            }
        }

        &__bottom-wrapper {
            width: 784px;
        }

        &__image-wrapper {
            display: flex;
        }

        &__image {
            margin: auto;
        }

        &__excerpt-wrapper {
            margin: auto;
        }
    }
}


@media screen and (max-width: 749px) {
    
    .site-outline {
        max-width: 100%;
        &__lead-title{
            font-size: 4.005vw;
            margin-bottom: 5.073vw;
        }
        &__header {
            height: 26.6vw;
        }

        &__heading {
            font-size: 7.5vw;
        }

        &__top-wrapper {
            width: 92%;
            margin: 11.615vw auto;
        }

        &__intro {
            text-align: left;
            letter-spacing: 0.1vw;
            @include custom-font(2.2vw, null, null, null, null);

            & br {
                display: none;
            }
        }

        &__inner-wrapper {
            width: 92%;
            margin: 12.016vw auto;
        }

        &__list {
            width: 100%;
            min-width: 92%;
        }

        &__term {
            flex: 0 22%;
            padding: 0 2vw;
            @include custom-font(2vw, null, null, null, null);


            &:nth-child(15) {
                margin-bottom: 1.8vw;
            }

            &:nth-child(17) {
                padding: 2vw 2vw;
            }

            & span {
                position: relative;
                margin: 0 -8vw;
                line-height: 0;
                @include custom-font(1.4vw, normal, null, null, null);
            }
        }

        &__name {
            flex: 0 62%;
            padding: 0 2vw;
            @include custom-font(2vw, null, null, null, null);

            &:nth-child(4) {
                padding: 2vw 2vw;
            }
            
            &:nth-child(6) {
                padding: 2vw 2vw;
            }

            &:nth-child(16) {
                margin-bottom: 1.8vw;
            }

            &:nth-child(18) {
                padding: 2vw 2vw;
            }

            & a {
                @include custom-font(2vw, null, null, null, null);
            }
        }

        &__bottom-wrapper {
            width: 92%;
            margin: 15.888vw auto;
        }

        &__image-wrapper {
            display: block;
            margin: auto;
        }

        &__image {
            margin: 0vw 20vw;
            width: 80%;

            & img {
                width: 50vw;
                margin: auto;
            }
        }

        &__excerpt-wrapper {
            margin: 0vw 20vw;
            width: 80%;
        }
        &__excerpt-heading{
            font-size:2.670vw;
        }
        &__excerpt{
            font-size: 1.869vw;
        }
    }
}