@mixin pointcard {
    
    @media screen and (min-width: 769px) {
        body {
            @include marginpadding();
            min-width: 1000px;
        
        }

        .wrapper-point > .banner {
            background-image: url('img/point_kv.png');
        }

        .wrapper-point {
            background-color: $background-highlight-color;

            .reward {
                @include display-flex(column, center, center);
                height: 350px;
                width: 100%;
                text-align: center;


                &__title--hidden {
                    display: none;
                }

                &__item {
                    font-size: 16px;
                    line-height: 40px;
                    font-family: $ff-YuMincho;
                    font-weight: 600;

                    & br {
                        display: none;
                    }

                }

                &__item:nth-child(2) {
                    margin: 10px 0;
                }

                &__span {
                    color: $accent-color;
                    font-family: $ff-YuMincho;
                    font-size: 26px;
                    line-height: 40px;
                    font-weight: 900;

                }

                &__big {
                    font-family: $ff-YuMincho;
                    font-size: 26px;
                    line-height: 40px;
                    font-weight: 900;

                }
            }

        }

        .step {
            @include display-flex(column, center, center);
            width: 100%;
            text-align: center;

            &__title--hidden {
                display: none;
            }

            &__list {
                padding: 100px 0;

            }

            &__item {
                margin: 25px 0;

            }

            &-section {
                @include display-flex(column, center, center);

                &__count {
                    font-size: 18px;
                    font-weight: 600;

                }

                &__number {
                    font-size: 22px;
                    font-weight: 900;

                }

                &__title {
                    @include display-flex(row, center, center);
                    margin: 0 0 30px 0;
                    font-family: $ff-YuMincho;
                    font-size: 22px;
                    line-height: 27px;
                    font-weight: 900;

                    & img {
                        margin-right: 10px;

                    }

                }

                &__description {
                    font-family: $ff-YuGothic;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 22px;

                    & br {
                        display: none;
                    }
                }

                &__list {
                    margin: 30px 0 0 0;

                }

                &__item {
                    font-family: $ff-YuGothic;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 22px;

                    &::before {
                        font-family: "Font Awesome 5 Free";
                        font-weight: 600;
                        content: "\f111 ";
                        white-space: pre;
                        font-size: 12px;
                    }
                }
            }
        }

        .point-card__indicator {
            height: 50px;
            width: 980px;
            margin: auto;
            font-size: 14px;
            @include display-flex(null, null, center);
            .point-card__span {
                margin: 0 14px;
            }
        }
    
        .underline {
            height: 1px;
            width: 20px;
            background-color: red;
            margin: 25px auto;
    
        }
    }
    
    @media screen and (max-width: 768px) {

        .wrapper-point > .banner {
            background-image: url('img/point_kv-mobile.png');
        }

        .wrapper-point {
            background-color: $background-highlight-color;

            .reward {
                @include display-flex(column, center, center);
                width: 100%;
                text-align: center;
                height: 94.271vw;

                &__title--hidden {
                    display: none;
                }

                &__item {
                    font-family: $ff-YuMincho;
                    font-weight: 600;
                    font-size: 4.167vw;
                    line-height: 7.292vw;

                    & br {
                        display: block;
                    }
                }

                &__item:nth-child(2) {
                    margin: 3.906vw 0;
                }

                &__span {
                    color: $accent-color;
                    font-family: $ff-YuMincho;
                    font-weight: 900;
                    font-size: 5.859vw;
                    line-height: 7.292vw;
                }

                &__big {
                    font-family: $ff-YuMincho;
                    font-weight: 900;
                    font-size: 5.859vw;
                    line-height: 7.292vw;
                }
            }

        }

        .step {
            @include display-flex(column, center, center);
            width: 100%;
            text-align: center;

            &__title--hidden {
                display: none;
            }

            &__list {
                padding: 13.021vw 0;
            }

            &__item {
                margin: 10.255vw 0;
            }

            &-section {
                @include display-flex(column, center, center);

                &__count {
                    font-weight: 600;
                    font-size: 3.255vw;
                }

                &__number {
                    font-weight: 900;
                    font-size: 3.906vw;
                }

                &__title {
                    @include display-flex(row, center, center);
                    margin: 0 0 3.906vw 0;
                    font-family: $ff-YuMincho;
                    font-weight: 900;
                    font-size: 5.729vw;
                    line-height: 7.031vw;

                    & img {
                        margin-right: 1.302vw;
                        height: 5.208vw;
                        width: 7.161vw;
                    }

                }

                &__description {
                    font-family: $ff-YuGothic;
                    font-weight: 600;
                    font-size: 3.646vw;
                    line-height: 7.292vw;

                    & br {
                        display: block;
                    }
                }

                &__list {
                    margin: 3.906vw 0 0 0;
                }

                &__item {
                    font-family: $ff-YuGothic;
                    font-weight: 600;
                    font-size: 3.125vw;
                    line-height: 5.208vw;

                    &::before {
                        font-family: "Font Awesome 5 Free";
                        font-weight: 600;
                        content: "\f111 ";
                        white-space: pre;
                        font-size: 3.125vw;
                    }
                }
            }
        }

        .point-card__indicator {
            margin: auto;
            @include display-flex(null, null, center);
            height: 7.813vw;
            font-size: 1.823vw;
            width: 89.583vw;

            .point-card__span {
                margin: 0 1.823vw;
            }
        }
    
        .underline {
            background-color: red;
            height: 0.07524454477050413vh;
            width: 2.604vw;
            margin: 3.255vw auto;
        }
    
    }
}