@mixin privacy {
    .main-privacy{
        font-family: $ff-YuGothic;
    }

    @media (min-width: 769px) {
        
        .main-privacy{
            @include center;
            padding-top: 98px;
            padding-bottom: 100px;
            
        }
        .main-privacy__title{
            font-size: 28px;
            line-height: 30px;
            margin-bottom: 58px;
            font-weight: 600;
            font-family: $ff-YuGothic;
        }
        .privacy-content__title{
            font-size: 18px;
            line-height: 30px;
            margin-bottom: 25px;
            font-weight: 600;
            font-family: $ff-YuGothic;
        }
        .privacy-content__lead{
            font-size: 15px;
            line-height: 30px;
            font-weight: 600;
            font-family: $ff-YuGothic;
            white-space: pre-line;
        }
        .privacy-content__list{
            margin-top: 50px;
        }
        .privacy-content__item{
            margin-bottom: 50px;
        }
        .privacy-info__title,
        .privacy-restrictions__title,
        .privacy-infomanagement__title,
        .privacy-provision__title,
        .privacy-disclosure__title,
        .privacy-age-info__title,
        .privacy-revision__title,
        .privacy-inquiry__title{
            font-size: 18px;
            line-height: 30px;
            margin-bottom: 28px;
            font-weight: 600;
            font-family: $ff-YuGothic;
        }
        .privacy-info__lead,
        .privacy-restrictions__lead,
        .privacy-infomanagement__lead,
        .privacy-provision__lead,
        .privacy-disclosure__lead,
        .privacy-age-info__lead,
        .privacy-revision__lead,
        .privacy-inquiry__lead,
        .privacy-infomanagement__item,
        .privacy-provision__item,
        .privacy-disclosure__item,
        .privacy-contact__address,
        .privacy-contact__phone span
        {
            font-size: 15px;
            line-height: 30px;
            font-weight: 600;
            font-family: $ff-YuGothic;
            white-space: pre-line;
        }
        .privacy-info__list{
            margin:50px 0px; 
            padding: 38px;
            background-color: #f2f2f2;
            list-style-type: decimal;
            padding-left: 56px;
        }
        .privacy-info__item{
            font-size: 15px;
            line-height: 30px;
            font-weight: 600;
            font-family: $ff-YuGothic;
            white-space: pre-line;
        }
        .privacy-infomanagement__list,
        .privacy-provision__list,
        .privacy-disclosure__list{
            margin: 45px 0px;
        }
        .privacy-infomanagement__item:before,
        .privacy-disclosure__item:before{
            font-family: "Font Awesome 5 Free";
            content: "\f111";
            font-weight: 600;
            font-family: $ff-YuGothic;
            font-size: 3px;
            padding: 0 8px 0 0;
            vertical-align: 10%;
        }
        .privacy-provision__list{
            list-style-type: decimal;
            margin-left: 18px;
        }
        .privacy-contact{
            margin-top:50px; 
            padding: 38px;
            background-color: #f2f2f2;
        }
        .privacy-contact__site-name{
            font-size: 18px;
            line-height: 30px;
            font-weight: 600;
            font-family: $ff-YuGothic;
            color: $primary-color;
        }
        .privacy-contact__phone span{
            margin-right: 30px;
        }
    }

    @media (max-width: 768px) {
        .main-privacy{
            @include center-mobile;
            padding-top: 18.880vw;
            padding-bottom: 19.531vw;
            margin-left: 5.208vw;
            margin-right: 5.208vw;
        }
        .main-privacy__title{
            font-size: 5.208vw;
            line-height: 3.906vw;
            margin-bottom: 12.370vw;
            font-weight: 600;
            font-family: $ff-YuGothic;
        }
        .privacy-content__title{
            font-size: 4.427vw;
            line-height: 3.906vw;
            margin-bottom: 6.250vw;
            font-weight: 600;
            font-family: $ff-YuGothic;
        }
        .privacy-content__lead{
            font-size: 3.646vw;
            line-height: 7.292vw;
            font-weight: 600;
            font-family: $ff-YuGothic;
        }
        .privacy-content__list{
            margin-top: 13.021vw;
        }
        .privacy-content__item{
            margin-bottom: 11.979vw;
        }
        .privacy-info__title,
        .privacy-restrictions__title,
        .privacy-infomanagement__title,
        .privacy-provision__title,
        .privacy-disclosure__title,
        .privacy-age-info__title,
        .privacy-revision__title,
        .privacy-inquiry__title{
            font-size: 4.427vw;
            line-height: 6.641vw;
            margin-bottom: 6.510vw;
            font-weight: 600;
            font-family: $ff-YuGothic;
        }
        .privacy-info__lead,
        .privacy-restrictions__lead,
        .privacy-infomanagement__lead,
        .privacy-provision__lead,
        .privacy-disclosure__lead,
        .privacy-age-info__lead,
        .privacy-revision__lead,
        .privacy-inquiry__lead,
        .privacy-infomanagement__item,
        .privacy-provision__item,
        .privacy-disclosure__item,
        .privacy-contact__address,
        .privacy-contact__phone span
        {
            font-size: 3.646vw;
            line-height: 7.292vw;
            font-weight: 600;
            font-family: $ff-YuGothic;
        }
        .privacy-info__list{
            margin:6.510vw 0px; 
            padding: 6.510vw;
            background-color: #f2f2f2;
            list-style-type: decimal;
            padding-left: 9.766vw;
        }
        .privacy-info__item{
            font-size: 3.646vw;
            line-height: 7.292vw;
            font-weight: 600;
            font-family: $ff-YuGothic;
        }
        .privacy-infomanagement__list,
        .privacy-provision__list,
        .privacy-disclosure__list{
            margin: 5.859vw 0px;
        }
        .privacy-infomanagement__item:before,
        .privacy-disclosure__item:before{
            font-family: "Font Awesome 5 Free";
            content: "\f111";
            font-weight: 600;
            font-family: $ff-YuGothic;
            font-size: 0.651vw;
            padding: 0 1.042vw 0 0;
            vertical-align: 10%;
        }
        .privacy-provision__list{
            list-style-type: decimal;
            margin-left: 4.036vw;
        }
        .privacy-contact{
            margin-top:6.510vw; 
            padding: 4.948vw;
            background-color: #f2f2f2;
        }
        .privacy-contact__site-name{
            font-size: 2.344vw;
            line-height: 3.906vw;
            font-weight: 600;
            font-family: $ff-YuGothic;
            color: $primary-color;
        }
        .privacy-contact__phone span{
            margin-right: 3.906vw;
            display: block;
        }
    }
}
