@mixin shop-list {
    .banner {
        background-color: $background-highlight-color;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        color: $secondary-color;
        @include display-flex(column, center, center);
        
        &__lead-title { 
            letter-spacing: 4px;
            font-family: $ff-YuMincho;
        }
    }

    .category-subtitle {
        max-width: $content-width-pc;
        width: 100%;
        @include display-flex(column, center, center);
        
        &__heading {
            font-weight: bold;
            position: relative;
            &::after {
                content: "";
                height: 1px;
                background-color: $accent-color;
                position: absolute;
                left: 42%;
            }
        }

        &__translation {
            font-family:  $ff-YuMincho;
            font-weight: 700;
        }
    }
    
    .search {
        @include display-flex(column, null, center);
        background-color: $background-highlight-color;
        padding: 0 5.5vw;

        &__tab-heading,
        &__subheading,
        &__region-btn {
            font-family:  $ff-YuMincho;
            font-weight: 700;
        }
        
        &__tab-wrapper {
            max-width: $content-width-pc;
            width: 100%;
            @include display-flex(row, null, null);
            position: relative;
        }
        
        &__tab-item {
            width: 50%;
        }
        
        &__tab-btn-wrapper {
            width: 100%;
        }
        
        &__tab-btn {
            width: 99%;
            height: 100%;
            border: 1px solid $primary-border-color;
            border-bottom: none;
            background: transparent;
            cursor: pointer;
            &--active {
                background-color: $accent-color;
                border: 1px solid $accent-color;
                color: white;
            }
            &:active,
            &:focus {
                outline: none;
            }
        }
    
        &__region-list {
            position: absolute;
            width: 100%;
            @include display-flex(row, null, null);
            flex-wrap: wrap;
        }
        
        &__region-btn {
            cursor: pointer;
            background: transparent;
            border: 1px solid $primary-border-color;
            &:active,
            &:focus {
                outline: none;
            }
            &--active {
                background-color: $accent-color;
                border: 1px solid $accent-color;
                color: white;
            }
        }
    }
    
    .shop-summary-info {
        @include display-flex(column, null, center);
        background-color: $secondary-color;
        padding: 0 5.5vw;

        &__heading-wrapper {
            max-width: $content-width-pc;
            width: 100%;
            @include display-flex(column, center, center);
        }
        
        &__heading {
            font-weight: 500;
            position: relative;
            font-family: $ff-meiryo;
            &::after {
                content: "";
                height: 1px;
                background-color: $accent-color;
                position: absolute;
                left: 42%;
            }
        }
    }

    @media screen and (min-width: 769px) {
        .banner {
            height: 319px;
            
            &__heading {
                font-size: 38px;
                letter-spacing: 7px;
                margin-bottom: 17px;
            }
            
            &__lead-title { 
                letter-spacing: 4px;
            }
        }
    
        .shop-list > .banner {
            background-image: url('img/shoplist_kv.png');
        }

        .shop-summary-info {
    
            &__heading-wrapper {
                height: 239px;
            }
        
            &__heading {
                font-size: 30px;
                letter-spacing: 2px;
                margin-top: 37px;
                &::after {
                    width: 19px;
                    margin-top: 44px;
                }
                &:first-child {
                    display: block;
                }
                &:last-child {
                    display: none;
                }
            }
        
            &__subheading {
                margin-top: 35px;
            }
        }

        .category-subtitle {
            height: 239px;
        
            &__heading {
                font-size: 30px;
                letter-spacing: 5px;
                margin-top: 37px;
                &::after {
                    width: 19px;
                    margin-top: 44px;
                }
            }
        
            &__translation {
                margin-top: 35px;
            }
        }
    
        .search {
            height: 612px;
        
            &__tab-btn-wrapper {
                height: 40px;
                border-bottom: 2px solid $accent-color;
            }
        
            &__tab-btn {
                width: 99%;
            }
    
            &__region-list {
                padding: 40px 0;
            }
        
            &__region-btn {
                width: 88%;
                height: 50px;
                font-size: 15px;
            }
        
            &__region-item {
                position: relative;
                width: 25%;
                flex: 1 0 25%;
                height: 90px;
                &:nth-child(4n) {
                    .search__region-btn { 
                        position: absolute;
                        right: 0;
                    }
                }
                &:nth-child(2),
                &:nth-child(6) {
                    .search__region-btn { 
                        margin-left: 10px;
                    }
                }
                &:nth-child(3),
                &:nth-child(7) {
                    .search__region-btn { 
                        margin-left: 20px;
                    }
                }
            }
        }
    
        #search-by-brand {
            margin-left: 1%;
        }
    }
    
    @media screen and (max-width: 768px) {
        .banner {
            margin-top: 7.5vw;
            height: 62.5vw;
    
            &__heading {
                font-size: 9vw;
                letter-spacing: 1.5vw;
                margin-bottom: 3%;
                text-align: center;
            }
    
            &__lead-title {
                font-size: 3vw;
            }
        }

        .shop-list > .banner {
            background-image: url('img/shoplist_kv_sp.png');
        }

        .shop-summary-info {
    
            &__heading-wrapper {
                margin-bottom: 7vw;
                margin-top: 10vw;
            }
    
            &__heading {
                font-size: 4.2vw;
                text-align: center;
                letter-spacing: 0.5vw;
                margin-top: 5.5vw;
    
                &:after {
                    margin-top: 8vw;
                    width: 5vw;
                    left: 48%;
                }

                &:first-child {
                    display: none;
                }

                &:last-child {
                    display: block;
                    line-height: 6vw;
                }
            }
        }

        .category-subtitle {
            height: 50.3vw;
    
            &__heading {
                font-size: 9vw;
                letter-spacing: 1.5vw;
                margin-top: 5.5vw;
    
                &:after {
                    margin-top: 11.7vw;
                    width: 5vw;
                }
            }
            
            &__translation {
                margin-top: 7vw;
                font-size: 3vw;
                letter-spacing: 1vw;
            }
        }
    
        .search {
            height: 163.5vw;
            
            &__tab-btn-wrapper {
                height: 13vw;
                border-bottom: .4vw solid $accent-color;
            }
    
            &__tab-btn {
                width: 97%;    
            }
    
            &__tab-heading {
                font-size: 3vw;
                letter-spacing: .6vw;
                margin-top: 2%;
            }
        
            &__region-list {
                padding: 13vw 0;
            }
        
            &__region-item {
                position: relative;
                width: 50%;
                flex: 1 0 50%;
                height: 18.3vw;
                &:nth-child(odd) {
                    .search__region-btn {
                        margin-left: 0;
                    }
                }
                &:nth-child(even) {
                    .search__region-btn {
                        position: absolute;
                        right: 0;
                    }
                }
            }
            
            &__region-btn {
                width: 94%;
                height: 13vw;
                font-size: 3vw;
            }
        }
    
        #search-by-brand {
            margin-left: 3%;
        }
    }
}
