// colors
$primary-blue-light: #003B71;
$primary-blue-dark: #002C55;
$gradient-color: #0064BF;
$border-light: #CCCCCC;
$border-dark: #999999;
$accent-color: #F5F5F5;
$hiragino: Hiragino Kaku Gothic Std;
$hiraginopron: Hiragino Kaku Gothic Pron;

// external fonts

// sizes
