// colors
$primary-color: #000000;
$secondary-color: #ffffff;
$tertiary-color: #666666;
$quaternary-color: #e91f2d;
$accent-color: #c40909;
$background-highlight-color: #f5f5ed;
$primary-border-color: #cccccc;
$secondary-border-color: #e6e6e6;

// external fonts
$primary-font-family: "Marcellus-v6-latin";

// sizes
$content-width-pc: 980px;
$fontsizelist: 14px;
$fontsizeaddress: 12px;
$fontweightbold: 800;
$fontweightlight: 100;
$fontweightnormal: normal;
$fontmedium: 3.385vw;
$fontsizecredits: 2.865vw;
$mobilecontainerwidth: 89.583vw;