html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: normal;
  line-height: 1;
  vertical-align: bottom; }

body {
  line-height: 1; }

article,
aside,
dialog,
figure,
footer,
header,
nav,
section {
  display: block; }

ul,
ol,
dl {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  color: #000;
  text-decoration: none;
  vertical-align: baseline;
  background: transparent;
  outline: none; }

img {
  vertical-align: bottom; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input,
select {
  vertical-align: middle; }

@media screen and (min-width: 750px) {
  .banner {
    width: 100%;
    height: 580px;
    background-image: url(img/banner2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; }
    .banner__title {
      font-size: 40px;
      font-weight: 900;
      line-height: 48px;
      color: #ffffff;
      text-align: center;
      font-family: Hiragino Kaku Gothic Std; }
    .banner__scroll {
      position: absolute;
      bottom: 30px; }

  .top-intro {
    background-color: #F5F5F5;
    padding-bottom: 120px; }
    .top-intro__wrapper {
      background-color: #ffffff;
      height: 323px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .top-intro__title {
      font-size: 30px;
      font-weight: 900;
      line-height: 46px;
      color: #003B71;
      font-family: Hiragino Kaku Gothic Std; }
      .top-intro__title br {
        display: none; }
    .top-intro__list {
      margin-top: 26px; }
    .top-intro__items {
      font-size: 15px;
      font-weight: normal;
      line-height: 27px;
      color: #333333;
      font-family: Hiragino Kaku Gothic Std; }

  .services-wrapper {
    margin: auto;
    margin-top: 90px;
    position: relative; }

  .commitment {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto 90px auto; }
    .commitment__figure {
      width: 59.5%; }
      .commitment__figure img {
        width: 100%; }
    .commitment__box {
      display: flex;
      flex-direction: column;
      margin: 22px 0 0 -69px;
      height: 338px;
      width: 460px;
      background-color: #ffffff;
      opacity: .9;
      box-shadow: 5px 5px 5px #707070; }
    .commitment__title {
      font-size: 30px;
      font-weight: 900;
      line-height: 48px;
      color: #003B71;
      font-family: Hiragino Kaku Gothic Std;
      margin: 48px 0 0 50px; }
    .commitment__sub {
      margin-top: 28px;
      font-size: 15px;
      font-weight: normal;
      line-height: 27px;
      color: #333333;
      font-family: Hiragino Kaku Gothic Std;
      margin: 28px 0 30px 50px; }
    .commitment__link {
      margin: auto;
      font-size: 15px;
      font-weight: normal;
      line-height: 24px;
      color: #003B71;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 60px;
      width: 264px;
      border: 1px solid #003B71;
      margin: 0 auto 50px auto;
      text-align: center;
      font-family: Hiragino Kaku Gothic Std; }

  .handling {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto 90px auto; }
    .handling__figure {
      order: 2;
      width: 59.5%; }
      .handling__figure img {
        width: 100%; }
    .handling__box {
      display: flex;
      flex-direction: column;
      margin: 22px -69px 0 0;
      order: 1;
      height: 338px;
      width: 460px;
      background-color: #ffffff;
      opacity: .9;
      box-shadow: 0 5px 5px #707070; }
    .handling__title {
      font-size: 30px;
      font-weight: 900;
      line-height: 48px;
      color: #003B71;
      margin: 48px 0 0 50px;
      font-family: Hiragino Kaku Gothic Std; }
    .handling__sub {
      margin-top: 28px;
      font-size: 15px;
      font-weight: normal;
      line-height: 27px;
      color: #333333;
      margin: 28px 0 30px 50px;
      font-family: Hiragino Kaku Gothic Std; }
    .handling__link {
      margin: auto;
      font-size: 15px;
      font-weight: normal;
      line-height: 24px;
      color: #003B71;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 60px;
      width: 264px;
      border: 1px solid #003B71;
      margin: 0 auto 50px auto;
      text-align: center;
      font-family: Hiragino Kaku Gothic Std; }

  .factory {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto 0 auto; }
    .factory__figure {
      width: 59.5%; }
      .factory__figure img {
        width: 100%; }
    .factory__box {
      display: flex;
      flex-direction: column;
      margin: 22px 0 0 -69px;
      height: 338px;
      width: 460px;
      background-color: #ffffff;
      opacity: .9;
      box-shadow: 5px 5px 5px #707070; }
    .factory__title {
      font-size: 30px;
      font-weight: 900;
      line-height: 48px;
      color: #003B71;
      margin: 48px 0 0 50px;
      font-family: Hiragino Kaku Gothic Std; }
    .factory__sub {
      margin-top: 28px;
      font-size: 15px;
      font-weight: normal;
      line-height: 27px;
      color: #333333;
      margin: 28px 0 30px 50px;
      font-family: Hiragino Kaku Gothic Std; }
    .factory__link {
      margin: auto;
      font-size: 15px;
      font-weight: normal;
      line-height: 24px;
      color: #003B71;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 60px;
      width: 264px;
      border: 1px solid #003B71;
      margin: 0 auto 50px auto;
      text-align: center;
      font-family: Hiragino Kaku Gothic Std; } }
@media screen and (max-width: 749px) {
  .banner {
    background-image: url(img/banner2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100.134vw;
    height: 44.192vw; }
    .banner__title {
      font-size: 2.804vw;
      font-weight: 900;
      line-height: 3.338vw;
      color: #ffffff;
      text-align: center;
      font-family: Hiragino Kaku Gothic Std; }
    .banner__scroll {
      display: none; }

  .top-intro {
    background-color: #F5F5F5;
    padding-bottom: 16.021vw; }
    .top-intro__wrapper {
      background-color: #ffffff;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100.134vw;
      height: 79.306vw; }
    .top-intro__title {
      font-size: 5.607vw;
      font-weight: 900;
      line-height: 8.812vw;
      color: #003B71;
      font-family: Hiragino Kaku Gothic Std; }
      .top-intro__title br {
        display: block; }
    .top-intro__list {
      margin-top: 1.45vw;
      width: 84.112vw; }
    .top-intro__items {
      font-size: 3.35vw;
      font-weight: normal;
      line-height: 5.34vw;
      color: #333333;
      text-align: justify;
      letter-spacing: -1px;
      font-family: Hiragino Kaku Gothic Std; }

  .services-wrapper {
    margin: auto;
    position: relative;
    min-width: 100.134vw;
    width: 100.134vw;
    margin-top: 12.016vw; }

  .commitment {
    margin: 0 auto 12.016vw auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; }
    .commitment__figure {
      width: 92.123vw;
      height: 46.061vw; }
      .commitment__figure img {
        width: 92.123vw;
        height: 46.061vw; }
    .commitment__box {
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      opacity: .9;
      box-shadow: 0.668vw 0.668vw 0.668vw #707070;
      width: 84.112vw;
      height: 52.603vw;
      margin: -7.943vw auto auto auto; }
      .commitment__box br {
        display: none; }
    .commitment__title {
      font-size: 4.806vw;
      font-weight: 900;
      line-height: 7.21vw;
      color: #003B71;
      margin: 6.409vw auto 0 auto;
      width: 73.431vw;
      font-family: Hiragino Kaku Gothic Std; }
    .commitment__sub {
      font-size: 3.204vw;
      font-weight: normal;
      line-height: 5.741vw;
      color: #333333;
      margin: auto;
      width: 73.431vw;
      font-family: Hiragino Kaku Gothic Std; }
    .commitment__link {
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 3.204vw;
      font-weight: normal;
      line-height: 4.806vw;
      color: #003B71;
      height: 12.016vw;
      width: 73.431vw;
      border: 0.134vw solid #003B71;
      margin: 0 auto 6.676vw auto;
      font-family: Hiragino Kaku Gothic Std; }

  .handling {
    margin: 0 auto 12.016vw auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; }
    .handling__figure {
      order: 1;
      width: 92.123vw;
      height: 46.061vw; }
      .handling__figure img {
        width: 92.123vw;
        height: 46.061vw; }
    .handling__box {
      display: flex;
      flex-direction: column;
      order: 1;
      background-color: #ffffff;
      opacity: .9;
      box-shadow: 0 0.668vw 0.668vw #707070;
      width: 84.112vw;
      height: 52.603vw;
      margin: -7.943vw auto auto auto; }
      .handling__box br {
        display: none; }
    .handling__title {
      font-size: 4.806vw;
      font-weight: 900;
      line-height: 7.21vw;
      color: #003B71;
      margin: 6.409vw auto 0 auto;
      width: 73.431vw;
      font-family: Hiragino Kaku Gothic Std; }
    .handling__sub {
      font-size: 3.204vw;
      font-weight: normal;
      line-height: 5.741vw;
      color: #333333;
      margin: auto;
      width: 73.431vw;
      font-family: Hiragino Kaku Gothic Std; }
    .handling__link {
      margin: auto;
      font-size: 15px;
      font-weight: normal;
      line-height: 24px;
      color: #003B71;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 3.204vw;
      font-weight: 900;
      line-height: 4.806vw;
      color: #003B71;
      height: 12.016vw;
      width: 73.431vw;
      border: 0.134vw solid #003B71;
      margin: 0 auto 6.676vw auto;
      font-family: Hiragino Kaku Gothic Std; }

  .factory {
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; }
    .factory br {
      display: none; }
    .factory__figure {
      width: 92.123vw;
      height: 46.061vw; }
      .factory__figure img {
        width: 92.123vw;
        height: 46.061vw; }
    .factory__box {
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      opacity: .9;
      box-shadow: 0.668vw 0.668vw 0.668vw #707070;
      width: 84.112vw;
      height: 52.603vw;
      margin: -7.943vw auto auto auto; }
    .factory__title {
      font-size: 4.806vw;
      font-weight: 900;
      line-height: 7.21vw;
      color: #003B71;
      margin: 6.409vw auto 0 auto;
      width: 73.431vw;
      font-family: Hiragino Kaku Gothic Std; }
    .factory__sub {
      font-size: 3.204vw;
      font-weight: normal;
      line-height: 5.741vw;
      color: #333333;
      margin: auto;
      width: 73.431vw;
      font-family: Hiragino Kaku Gothic Std; }
    .factory__link {
      margin: auto;
      font-size: 15px;
      font-weight: normal;
      line-height: 24px;
      color: #003B71;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 3.204vw;
      font-weight: 900;
      line-height: 4.806vw;
      color: #003B71;
      height: 12.016vw;
      width: 73.431vw;
      border: 0.134vw solid #003B71;
      margin: 0 auto 6.676vw auto;
      font-family: Hiragino Kaku Gothic Std; } }
.site-header {
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 999; }
  .site-header__wrapper {
    width: 1340px;
    display: flex;
    flex-direction: row;
    flex-wrap: NULL;
    justify-content: space-between;
    align-items: NULL; }
  .site-header__logo {
    font-family: Hiragino Kaku Gothic Std;
    font-size: 30px;
    font-weight: bold;
    color: #003B71; }
    .site-header__logo span {
      font-size: 15px;
      font-weight: normal;
      margin-left: 5px;
      vertical-align: 5px; }

@media only screen and (min-width: 750px) {
  .site-header__wrapper {
    height: 100px;
    align-items: center;
    margin: auto; }
  .site-header__nav-list {
    display: flex;
    flex-direction: row;
    flex-wrap: NULL;
    justify-content: center;
    align-items: center; }
  .site-header__nav-item {
    margin-right: 20px; }
    .site-header__nav-item a {
      font-family: Hiragino Kaku Gothic Std;
      font-size: 15px;
      color: #003B71; }
    .site-header__nav-item:nth-child(5) {
      display: flex;
      flex-direction: row;
      flex-wrap: NULL;
      justify-content: center;
      align-items: center;
      width: 166px;
      height: 40px;
      margin-right: 0;
      background-color: #002C55; }
      .site-header__nav-item:nth-child(5) a {
        color: white; }
  .site-header__nav-btn {
    display: none; } }
@media only screen and (max-width: 749px) {
  #nav-toggle {
    position: fixed;
    top: 25px;
    right: 25px;
    height: 32px;
    cursor: pointer; }
    #nav-toggle > div {
      position: relative;
      width: 36px; }
    #nav-toggle span {
      width: 100%;
      height: 5px;
      left: 0;
      display: block;
      background: #003B71;
      position: absolute;
      transition: transform .6s ease-in-out, top .5s ease; }
      #nav-toggle span:nth-child(1) {
        top: 0; }
      #nav-toggle span:nth-child(2) {
        top: 14px; }
      #nav-toggle span:nth-child(3) {
        top: 28px; }
    #nav-toggle:hover span:nth-child(1) {
      top: 4px; }
    #nav-toggle:hover span:nth-child(3) {
      top: 23px; }

  .open #nav-toggle span {
    background: #003B71; }
    .open #nav-toggle span:nth-child(1) {
      top: 15px;
      transform: rotate(45deg); }
    .open #nav-toggle span:nth-child(2) {
      top: 15px;
      width: 0;
      left: 50%; }
    .open #nav-toggle span:nth-child(3) {
      top: 15px;
      transform: rotate(-45deg); }

  #nav-toggle {
    z-index: 1000; }

  #container {
    z-index: 900; }

  #gloval-nav {
    background: #fff;
    height: 729px;
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 990;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: opacity .6s ease, visibility .6s ease; }

  #gloval-nav a {
    text-decoration: none;
    padding: 10px 0;
    transition: color .6s ease; }
  #gloval-nav ul {
    list-style: none; }
    #gloval-nav ul li {
      opacity: 0;
      transform: translateX(200px);
      transition: transform .6s ease, opacity .2s ease; }
      #gloval-nav ul li:nth-child(1) {
        transition-delay: .15s;
        border-top: solid #F5F5F5 1px;
        border-bottom: solid #F5F5F5 1px; }
      #gloval-nav ul li:nth-child(2) {
        transition-delay: .3s;
        border-bottom: solid #F5F5F5 1px; }
      #gloval-nav ul li:nth-child(3) {
        transition-delay: .45s;
        border-bottom: solid #F5F5F5 1px; }
      #gloval-nav ul li:nth-child(4) {
        transition-delay: .6s;
        border-bottom: solid #F5F5F5 1px; }
      #gloval-nav ul li:nth-child(5) {
        transition-delay: .75s; }

  .open {
    overflow: hidden; }
    .open #gloval-nav {
      visibility: visible;
      opacity: 1; }
    .open #gloval-nav li {
      opacity: 1;
      transform: translateX(0);
      transition: transform 1s ease, opacity .9s ease; }

  .site-header {
    height: 100px;
    align-items: center;
    margin: auto; }
    .site-header__sub-nav {
      width: 100%; }
    .site-header__wrapper {
      height: 100px;
      align-items: center;
      margin-left: 30px; }
    .site-header__nav-list {
      display: flex;
      flex-direction: column;
      flex-wrap: NULL; }
    .site-header__nav-item {
      display: flex;
      align-items: center;
      height: 120px; }
      .site-header__nav-item a {
        font-family: Hiragino Kaku Gothic Std;
        font-size: 30px;
        color: #003B71;
        margin-left: 60px; }
      .site-header__nav-item:nth-child(5) {
        display: flex;
        flex-direction: row;
        flex-wrap: NULL;
        justify-content: center;
        align-items: center;
        height: 240px; }
        .site-header__nav-item:nth-child(5) a {
          background-color: #002C55;
          color: white;
          width: 630px;
          height: 120px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 0px; }
    .site-header__nav-btn {
      display: none; } }
.title--hidden {
  display: none; }

#site-footer {
  position: relative;
  top: 100px; }

.contact-section1 {
  width: 50%;
  height: 380px;
  background-color: #003B71;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .contact-section1__text1 {
    font-family: Hiragino Kaku Gothic Std;
    font-size: 30px;
    line-height: 48px;
    color: white;
    margin-bottom: 22px; }
  .contact-section1__text2 {
    font-family: Hiragino Kaku Gothic Std;
    font-size: 15px;
    line-height: 27px;
    color: white; }
  .contact-section1__phone {
    font-family: Hiragino Kaku Gothic Std;
    font-size: 30px;
    line-height: 48px;
    color: white;
    margin-top: 57px; }
    .contact-section1__phone:before {
      content: url(img/phone_pc.png);
      width: 24px;
      height: 24px;
      margin-right: 14px; }
  .contact-section1__note {
    font-family: Hiragino Kaku Gothic Std;
    font-size: 13px;
    line-height: 20px;
    color: white; }

.contact-section2 {
  width: 50%;
  height: 380px;
  background-color: #002C55;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .contact-section2__heading {
    font-family: Hiragino Kaku Gothic Std;
    font-size: 30px;
    line-height: 48px;
    color: white; }
  .contact-section2__form-btn {
    margin-top: 28px;
    width: 264px;
    height: 60px;
    align-items: center;
    font-size: 15px;
    font-family: Hiragino Kaku Gothic Std;
    color: white;
    border: solid white 1px;
    background-color: #002C55; }

.site-footer__copyright {
  text-align: center;
  padding: 58px 0px;
  font-family: Hiragino Kaku Gothic Std;
  font-size: 13px;
  line-height: 48px;
  color: #333333; }

@media screen and (min-width: 750px) {
  body {
    min-width: 1340px; }

  .contact {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }

  .site-footer__links {
    width: 1146px;
    height: 75px;
    border-bottom: solid #CCCCCC 1px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .site-footer__links a {
      font-family: Hiragino Kaku Gothic Std;
      font-size: 13px;
      line-height: 48px;
      margin-right: 30px;
      color: #333333; } }
@media screen and (max-width: 749px) {
  .contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

  .contact-section1 {
    width: 100%;
    height: 70.895vw;
    text-align: center; }
    .contact-section1__text1 {
      font-size: 5.607vw;
      line-height: 8.812vw;
      margin-bottom: 3.738vw; }
    .contact-section1__text2 {
      font-size: 4.005vw;
      line-height: 6.008vw; }
    .contact-section1__phone {
      font-size: 5.607vw;
      line-height: 8.812vw;
      margin-top: 6.542vw; }
      .contact-section1__phone:before {
        background-image: url(img/phone_sp.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 4.473vw;
        height: 4.473vw;
        margin-right: 1.869vw; }
    .contact-section1__note {
      font-size: 4.005vw;
      line-height: 6.008vw; }

  .contact-section2 {
    width: 100%;
    height: 51.535vw; }
    .contact-section2__heading {
      font-size: 5.607vw;
      line-height: 8.812vw; }
    .contact-section2__form-btn {
      margin-top: 7.744vw;
      width: 73.431vw;
      height: 12.016vw;
      font-size: 3.204vw;
      border: solid white 1px; }

  .site-footer__links {
    width: 92.123vw;
    height: 20.027vw;
    border-bottom: solid #CCCCCC 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
    .site-footer__links a {
      font-family: Hiragino Kaku Gothic ProN;
      font-size: 3.204vw;
      font-weight: normal;
      line-height: 4.272vw;
      color: #333333; }

  .site-footer__copyright {
    text-align: center;
    padding: 7.744vw 0px;
    font-family: Hiragino Kaku Gothic Std;
    font-size: 3.204vw;
    line-height: 4.272vw;
    color: #333333; } }
.site-main {
  position: relative;
  top: 100px; }

/*# sourceMappingURL=style.css.map */
